{% extends "layout.html" %}

<!-- <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>MAkaele Görüntüleme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head> -->
  {% block body %}
  {% csrf_token %}
  {{ form.media }}
  
    <!-- <body> -->
       
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-9">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h3 class="fw-bolder mb-1">{{article.title}}</h3>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on {{article.created_date}} by {{article.author}}</div>
                            <!-- Post categories-->
                            <!-- <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a> -->
                        </header>
                        <!-- Preview image figure-->
                        {% if article.article_image%}
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt="..." /></figure>
                        {% endif %}
                        
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4" style="text-align:justify">{{article.content|safe}}</p>
                        </section>
                    </article>
   
                    <form method="post" action ="{% url 'article:addcomment' article.id %}" class="mb-4">
                       <span><label>Yorumlarınızı Bekliyoruz...</label>
                        {% csrf_token %}
                        <div class="input-group input-group-sm mb-3 form-control">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-sm">İsminiz</span>
                            </div>
                            <input name="comment_author" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <!-- <label>Yorumunuz:</label> -->
                       
                            <textarea name = "comment_content" class="form-control" rows="3" placeholder="Yorumunuzu yazın"></textarea>
                        <div style="float :right ;"><button type = "submit" class="btn-sm btn-primary">Yorumu Ekle</button></div> 
                    </span>
                    </form>
                    <hr>
                    <h3>Yorumlar : </h3>

                    {% if comments %}
                    {% for comment in comments %}
                    <div class="d-flex">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                        <div class="ms-3">
                            <div class="fw-bold">{{comment.comment_author}}</div>
                            {{comment.comment_content}}    
                        </div>
                    </div> 
                    {% endfor %}
                    {%else%}
                    <hr>
                    Bu makaleye ilk youmu siz yapın...
                    <hr>

                    {% endif %}
                    
                    

                    
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
 <!--    </body>
</html>
 -->
 {% endblock %}